body {
    background: #222;
}
header {
    padding: 20px;
}
.grid-item { width: 200px;margin-bottom:10px; }
.grid-item img {
    width: 100%;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.grid-item:hover img {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}